.tabs {
	@media (max-width: toEm(814.98)) {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	// .tabs__navigation
	&__navigation {
		gap: toRem(10);
		padding: toRem(7);
		position: relative;
		align-items: center;
		display: inline-flex;
		border-radius: toRem(27);
		background-color: #e5e1dc;
		box-shadow:
			rgba(14, 63, 126, 0.03) 0px 0px 0px 1px,
			rgba(42, 51, 69, 0.03) 0px 1px 1px -0.5px,
			rgba(42, 51, 70, 0.03) 0px 3px 3px -1.5px,
			rgba(42, 51, 70, 0.03) 0px 6px 6px -3px,
			rgba(14, 63, 126, 0.03) 0px 12px 12px -6px,
			rgba(14, 63, 126, 0.03) 0px 24px 24px -12px;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 23, 15);
		}
		&::before {
			content: "";
			top: toRem(0);
			left: toRem(7);
			right: toRem(7);
			margin: auto 0;
			bottom: toRem(0);
			height: toRem(54);
			position: absolute;
			width: toRem(232.52);
			border-radius: toRem(24);
			transition:
				width 0.5s ease 0s,
				left 0.5s ease 0s;
			background: $gradientNarative;
		}
		&.nav-toggle {
			&::before {
				width: toRem(174.68);
				left: toRem(248.65);
			}
		}
		@media (max-width: $mobileSmall) {
			&::before {
				height: toRem(44);
				width: toRem(153.45);
			}
			&.nav-toggle {
				&::before {
					left: toRem(170);
					width: toRem(114.01);
				}
			}
		}
	}
	// .tabs__title
	&__title {
		display: flex;
		outline: none;
		align-items: center;
		min-height: toRem(54);
		border-radius: toRem(24);
		background-color: #ddd7d0;
		padding: toRem(0) toRem(22);
		transition: color 0.5s ease 0.1s;
		span {
			display: flex;
			gap: toRem(15);
			position: relative;
			align-items: center;
		}
		svg {
			max-width: toRem(35);
			min-width: toRem(35);
			transition: stroke 0.5s ease 0.15s;
			path {
				transition: fill 0.5s ease 0.15s;
			}
		}
		&:first-child {
			svg {
				stroke: rgba($mainColor, 0.5);
			}
		}
		&:last-child {
			svg {
				stroke: rgba($narativeColor, 0.7);
			}
		}
		&._tab-active {
			color: $bgColor;
			&:first-child {
				svg {
					stroke: $bgColor;
				}
			}
			&:last-child {
				svg {
					stroke: $bgColor;
					path {
						fill: $bgColor;
					}
				}
			}
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(15);
			min-height: toRem(44);
			padding: toRem(0) toRem(12);
			span {
				gap: toRem(10);
			}
			svg {
				max-width: toRem(25);
				min-width: toRem(25);
			}
		}
	}
	// .tabs__content
	&__content {
		width: 100%;
	}
	// .tabs__body
	&__body {
		overflow: hidden;
		position: relative;
		max-width: toRem(610);
		@include adaptiveValue("border-radius", 20, 10);
		iframe {
			width: 100%;
			margin-bottom: toRem(-3);
			@include adaptiveValue("min-height", 345, 245);
		}
		@media (max-width: toEm(814.98)) {
			width: 100%;
			max-width: 100%;
		}
	}
}
